<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Naked Java Appointments</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/webjars/bootstrap-datepicker/css/bootstrap-datepicker.css" />

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4 th:text="#{appointments.header}"></h4>
            <div class="panel panel-default">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th th:text="#{appointments.header.description}"></th>
                        <th th:text="#{appointments.header.date}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="appointment : ${appointments}">
                        <td th:text="${appointment.description}"></td>
                        <td th:text="${#temporals.format(appointment.date, 'dd/MM/yyyy')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>Create appointment</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" action="#" th:action="@{/appointments/create}" th:object="${appointment}" method="post">
                        <div class="form-group">
                            <label for="appointment-date" class="col-sm-3 control-label" th:text="#{appointment.field.date}"></label>
                            <div class="col-sm-9">

                                <div class='input-group date' id='appointment-date'>
                                    <input id="display-date" type='text' class="form-control" />
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <input type="hidden" id="date" th:field="*{date}" />

                                <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="description" class="col-sm-3 control-label" th:text="#{appointment.field.description}"></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="description" name="description" th:field="*{description}">
                                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 text-right">
                                <button type="submit" class="btn btn-default preview-add-button" th:text="#{appointment.button.create}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.1.1/jquery.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/webjars/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/js/appointments.js"></script>

</body>
</html>